html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: sans-serif;
	background: #fff;
	margin: 0;
}

a {
	color: #8442D5;
}

.clear {
	clear: both;
}

.help {
	font-size: 12px;
	font-weight: normal;
	color: #666;
	margin: 10px 0 15px 0;
}

code {
	font-family: menlo, monospace;
}

.help code {
	color: #333;
}

#app {
	background-color: #170A26;
	transition: background-color 0.5s ease-out;
	width: 100vw;
	height: 100vh;
}

#app.ready {
	background-color: #fff;
}

#map {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

body.print #map {
	left: auto;
	right: auto;
	width: 70.7143vw;
}

.leaflet-pelias-input {
	background: #170A26;
	opacity: 0.8;
	color: #fff;
}

.leaflet-bar,
.leaflet-control-layers,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.leaflet-control-locate
.leaflet-touch .leaflet-control-locate {
	border: none;
}

.leaflet-control-zoom a,
.leaflet-touch .leaflet-control-zoom a,
.leaflet-control-locate a,
.leaflet-touch .leaflet-control-locate a,
.leaflet-touch .leaflet-control-add-venue a,
.leaflet-control-add-venue a,
.leaflet-control-locate a:hover,
.leaflet-control-add-venue a:hover,
.leaflet-control-locate a:first-child,
.leaflet-control-add-venue a:first-child,
.leaflet-control-zoom a:first-child,
.leaflet-control-locate a:last-child,
.leaflet-control-add-venue a:last-child,
.leaflet-control-zoom a:last-child {
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	border-radius: 20px;
	background: #170A26;
	opacity: 0.8;
	color: #fff;
	cursor: pointer;
}

.leaflet-control-add-venue a,
.leaflet-touch .leaflet-control-add-venue a,
.leaflet-control-add-venue a:first-child,
.leaflet-control-add-venue a:last-child {
	background: #8442D5;
}

.leaflet-control-locate a:hover,
.leaflet-control-add-venue a:hover,
.leaflet-control-zoom a:hover,
.leaflet-touch .leaflet-control-locate a:hover,
.leaflet-touch .leaflet-control-add-venue a:hover,
.leaflet-touch .leaflet-control-zoom a:hover {
	opacity: 1.0;
	background: #000;
}

.leaflet-control-zoom-in {
	margin-bottom: 1px;
}

.leaflet-control-attribution {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	color: #ccc;
}

.leaflet-control-attribution a {
	color: #999;
}

.leaflet-pelias-search-icon,
.leaflet-pelias-search-icon.leaflet-pelias-loading {
	background-image: none;
	font-size: 18px;
	line-height: 44px;
}

.leaflet-bar .leaflet-pelias-search-icon:hover,
.leaflet-touch .leaflet-bar .leaflet-pelias-search-icon:hover {
	background-color: rgba(255, 255, 255, 0.25);
}

.leaflet-bar .leaflet-pelias-search-icon,
.leaflet-bar .leaflet-pelias-search-icon:hover,
.leaflet-pelias-input .leaflet-pelias-search-icon,
.leaflet-touch .leaflet-pelias-control .leaflet-pelias-search-icon {
	width: 40px;
}

.leaflet-pelias-search-icon .fa {
	color: #fff;
	line-height: 44px;
}

.leaflet-pelias-input {
	padding-left: 35px;
}

.leaflet-pelias-close,
.leaflet-pelias-expanded .leaflet-pelias-close {
	background: transparent;
	color: #fff;
}

.leaflet-pelias-message {
	color: #fff;
	background-color: rgba(23, 10, 38, 0.8);
	border: none;
}

.leaflet-pelias-results,
.leaflet-touch .leaflet-pelias-results {
	box-shadow: none;
}

.leaflet-pelias-results.leaflet-bar,
.leaflet-touch .leaflet-pelias-results.leaflet-bar {
	border-radius: 4px;
}

#menu {
	position: fixed;
	top: -100vh;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #eee;
	transition: top 0.25s ease-out;
	overflow: auto;
}

#menu.active {
	top: 0;
}

#menu .close {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	font-size: 24px;
	color: #170A26;
	padding: 10px;
	cursor: pointer;
}

#menu.active .close {
	display: block;
}

.leaflet-popup-content-wrapper {
	color: #fff;
	background-color: rgba(23, 10, 38, 0.8);
	border-radius: 4px;
	box-shadow: none;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background-color: rgba(23, 10, 38, 0.8);
	box-shadow: none;
}

.leaflet-popup-content {
	margin: 13px 19px 13px 13px;
}

.leaflet-popup .icon {
	float: left;
	font-size: 20px;
	line-height: 40px;
	padding: 0;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	text-align: center;
	margin-right: 5px;
	cursor: pointer;
}

.leaflet-popup.editing .icon,
.leaflet-popup.editing .extra {
	display: none;
}

.leaflet-popup .name {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 160px;
	margin-top: -5px;
}

.leaflet-popup .extra {
	font-weight: normal;
	font-size: 12px;
	margin-left: 5px;
}

.leaflet-popup.editing .name {
	float: none;
}

.leaflet-popup .name .inner {
	padding: 5px;
	display: inline-block;
	word-break: break-all;
}

.leaflet-popup .name .inner:hover {
	background-color: #170A26;
	cursor: pointer;
}

.leaflet-popup.editing .name:hover {
	background-color: inherit;
	cursor: default;
}

.leaflet-popup .leaflet-popup-content-wrapper {
	width: 238px;
}

.leaflet-popup input[type="text"] {
	width: 203px;
}

.leaflet-container a.leaflet-popup-close-button:hover {
	color: #fff;
}

.leaflet-popup-pane {
	z-index: 10001; /* why does this not work?? */
}

#menu form {
	display: none;
	width: 100%;
	max-width: 640px;
	padding: 10px 10px 40px 10px;
	margin: 0 auto;
	min-height: 100vh;
	position: relative;
}

#menu form.visible {
	display: block;
}

h1 {
	font-size: 24px;
	margin-bottom: 30px;
}

input[type="text"] {
	display: block;
	font-size: 14px;
	padding: 10px;
	border: 1px solid #ccc;
	width: 100%;
	margin: 10px 0 0 0;
	border-radius: 2px;
}

input[type="text"]:focus {
	border-color: #170A26;
}

label {
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
}

select {
	font-size: 14px;
	margin-top: 10px;
}

.column {
	float: left;
	width: 125px;
	margin-right: 20px;
}

.wide-column {
	width: 236px;
}

.headroom {
	margin-top: 30px;
}

.no-headroom {
	margin-top: 0;
}

.btn {
	border: none;
	color: #8442D5;
	background: transparent;
	border: 2px solid #8442D5;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
}

.edit-buttons {
	border-top: 1px solid #170A26;
	margin-top: 30px;
	padding-top: 30px;
}

.btn:hover {
	color: #fff;
	background: #000;
	border-color: #000;
}

.btn-save {
	color: #fff;
	background-color: #8442D5;
	border-color: #8442D5;
}

.edit-delete {
	color: #DE2B32;
	margin-left: 10px;
}

.edit-rsp {
	margin-top: 30px;
}

.edit-rsp.error {
	color: #DE2B32;
}

.edit-delete:hover {
	color: #000;
}

#edit-venue-icon-display {
	color: #fff;
	display: inline-block;
	font-size: 28px;
	line-height: 60px;
	padding: 0;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	text-align: center;
	margin-right: 10px;
}

#edit-map-preview {
	width: 100%;
	height: auto;
	border: 10px solid #fff;
	border-radius: 4px;
}

.edit-map-options {
	display: none;
	width: 180px;
}

.edit-map-options .checkbox {
	margin-top: 20px;
}

.edit-map-options.selected {
	display: block;
}

.checkbox label {
	display: inline;
}

@media (min-width: 321px) {
	.leaflet-control-zoom a,
	.leaflet-touch .leaflet-control-zoom a,
	.leaflet-control-locate a,
	.leaflet-touch .leaflet-control-locate a,
	.leaflet-touch .leaflet-control-add-venue a,
	.leaflet-control-add-venue a,
	.leaflet-control-locate a:hover,
	.leaflet-control-add-venue a:hover,
	.leaflet-control-locate a:first-child,
	.leaflet-control-add-venue a:first-child,
	.leaflet-control-zoom a:first-child,
	.leaflet-control-locate a:last-child,
	.leaflet-control-add-venue a:last-child,
	.leaflet-control-zoom a:last-child {
		width: 60px;
		height: 60px;
		border-radius: 30px;
		line-height: 60px;
		font-size: 28px;
	}

	#map.has-zoom-controls .leaflet-control-zoom a,
	#map.has-zoom-controls .leaflet-touch .leaflet-control-zoom a,
	#map.has-zoom-controls .leaflet-control-locate a,
	#map.has-zoom-controls .leaflet-touch .leaflet-control-locate a,
	#map.has-zoom-controls .leaflet-control-locate a:hover,
	#map.has-zoom-controls .leaflet-control-locate a:first-child,
	#map.has-zoom-controls .leaflet-control-zoom a:first-child,
	#map.has-zoom-controls .leaflet-control-locate a:last-child,
	#map.has-zoom-controls .leaflet-control-zoom a:last-child {
		width: 40px;
		height: 40px;
		border-radius: 20px;
		line-height: 40px;
		font-size: 20px;
	}
}
