html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: sans-serif;
	background: #222;
	margin: 0;
}

#app {
	background-color: #222;
	transition: background-color 0.5s ease-out;
	width: 100vw;
	height: 100vh;
}

#app.ready {
	background-color: #fff;
}

#map {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.leaflet-pelias-input {
	background: #444;
	color: #fff;
}

.leaflet-bar, .leaflet-control-layers,
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
	border: none;
	border-radius: 0;
}

.leaflet-touch .leaflet-control-locate,
.leaflet-control-locate {
	border: none;
}

.leaflet-touch .leaflet-control-locate a,
.leaflet-control-locate a,
.leaflet-touch .leaflet-control-add-venue a,
.leaflet-control-add-venue a {
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	border-radius: 25px;
	background: #444;
	color: #fff;
}

.leaflet-control-attribution {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	color: #ccc;
}

.leaflet-control-attribution a {
	color: #999;
}

.leaflet-pelias-search-icon {
	background-image: none;
	font-size: 18px;
	line-height: 44px;
}

.leaflet-touch .leaflet-pelias-control .leaflet-pelias-search-icon {
	width: 40px;
}

.leaflet-pelias-search-icon .fa-bars {
	color: #fff;
	line-height: 44px;
}

.leaflet-bar a, .leaflet-bar a:hover {
	background-color: rgba(255, 255, 255, 0.25);
}

.leaflet-pelias-input {
	padding-left: 35px;
}

#menu {
	position: fixed;
	top: -100vh;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #eee;
	transition: top 0.25s ease-out;
}

#menu.active {
	top: 0;
}

#menu .close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 24px;
	color: #444;
	padding: 10px;
	cursor: pointer;
}
